html/login.html
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/><meta name="description" content="{% block meta_description %}{% endblock %}"/><meta name="keywords" content="{% block meta_keywords %}{% endblock %}"/><meta name="viewport" content="width=device-width, user-scalable=no"/><title>Login - Aquilo</title><link href="{{.Settings.Server.StaticUrl}}css/bootstrap.min.css" rel="stylesheet"/><link href="{{.Settings.Server.StaticUrl}}css/ccmm.css" rel="stylesheet"/><script src="{{.Settings.Server.StaticUrl}}js/lib.js"></script><script>//test
</script></head></html><body class="login"><div class="container"><div class="login-container col-sm-12"><form method="POST" action="/login/" class="login-form"><h1>Authenticate</h1><div class="errors">{{ range .Errors }}
    {{.}}
{{ end }}</div><input id="csrftoken" type="hidden" name="csrfmiddlewaretoken" value="{{.CSRFToken}}"/><label for="username" class="username-label">Username:</label><input id="username" type="text" name="username" value="{{.Username}}"/><label for="password" class="password-label">Password:</label><input id="password" type="password" name="password" value="{{.Password}}"/><br/><input type="submit" value="Login"/></form></div></div></body>

html/src/login.jade
extends base

block title
  title Login - Aquilo
  
block scripts
  script.
    //test

block body
  body(class='login')
    .container
        .login-container.col-sm-12
            form.login-form(method='POST',action='/login/')
                h1 Authenticate
                div.errors
                    | {{ range .Errors }}
                    |     {{.}}
                    | {{ end }}
                
                input#csrftoken(type='hidden',name='csrfmiddlewaretoken',value='{{.CSRFToken}}')
                
                label.username-label(for='username') Username:
                input#username(type='text',name='username',value='{{.Username}}')

                label.password-label(for='password') Password:
                input#password(type='password',name='password',value='{{.Password}}')
                br
                input(type='submit',value='Login')
